h1.name{
    color:brown;
    font-size: 50px;
    font-weight: bold;
    margin:10px;
    text-align: center;
    border:1px solid wheat;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px grey;
    font-family: Helvetica, sans-serif;
}
.my-details{
    width:auto;
    height: auto;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
    border:2px solid burlywood;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px grey;
    font-family: Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    
}
.details{
    list-style: none;
    line-height: 50px;
    
}
.details:hover{
    color:blue;
    background-color: wheat;
}